<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset="utf-8"/>
        <style>
            body {
                margin: 0;
                background-color: #29292A;
                color: #ecebe7;
            }
            h1 {
                font-size: 5em;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Projet Donjon</h1>
    </body>
</html>